:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --link-color: #2196f3;
  --white-color: #ffffff;
  --background-color: #2f303a;
  --background-hero: #c4c4c4;
}
body {
  font-family: Roboto, sans-serif;
  margin: 0px;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* <!-- Шапка сайта --> */
/* logo */

.page-header {
  border-bottom: 1px solid #ececec;
}
.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
.logoweb {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: var(--link-color);
}
.accent {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}
.site-nav {
  display: flex;

  margin-left: 93px;
  justify-content: space-around;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.site-nav a {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav li:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link.current {
  color: var(--link-color);
}
.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.link:hover {
  color: var(--link-color);
}
.link:focus {
  color: var(--link-color);
}

.link-tel {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-contacts {
  display: flex;
  padding-left: 0px;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.site-contacts li:first-child {
  margin-right: 50px;
}

.site-contacts .link {
  color: var(--secondary-color);
}
.site-contacts .link:hover {
  color: var(--link-color);
}
.site-contacts .link:focus {
  color: var(--link-color);
}
.section-title {
  color: var(--main-color);
  margin: 0px;
}
/* <!-- Герой --> */

.hero {
  background: var(--background-hero);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.overlay {
  border: 1px solid #000000;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(0, 0, 0, 0, 0.25);
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
  background-image: url(../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;
}

button {
  background: #2196f3;
  color: var(--white-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  padding: 10px 32px;
  margin: 0px;
  border: 0px;
}
.hero button {
  min-width: 200px;
}

/* <!-- <h2>Особенности</h2> --> */
.section-features {
  background: #fff;
  padding-top: 94px;
  padding-bottom: 94px;
}
.features {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;

  padding-left: 0px;
}
.features li {
  width: 270px;
}
.features p {
  margin-top: 10px;
  margin-bottom: 0px;
}
.features li:not(:last-child) {
  margin-right: 30px;
}

.section-features .section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-features .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  align: left;
  vertical-align: Top;
  letter-spacing: 3%;
  color: var(--secondary-color);
  letter-spacing: 0.03em;
}
/* <!-- Чем мы занимаемся --> */
.section-work {
  padding-bottom: 94px;
}

.section-work .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 50px;
}
.work {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-work ul {
  margin-top: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  display: flex;
  padding-left: 0px;
  margin-bottom: 0px;
}
.section-work li:not(:last-child) {
  margin-right: 30px;
}

/* <!-- Наша команда --> */
.section-team {
  background: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}
.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team ul {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 0px;
  padding-left: 0px;
}
.team li {
  width: 270px;
  text-align: center;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team li:not(:last-child) {
  margin-right: 30px;
}

.section-team .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  align: center;
  vertical-align: Top;
  letter-spacing: 3%;
}
.section-team .title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  align: Center;
  vertical-align: Top;
  letter-spacing: 3%;
  margin-bottom: 0px;
  margin-top: 0px;
}
.our-team {
  padding: 30px 10px;
}
.section-team p {
  font-size: 16px;
  line-height: 1.19;
  align: Center;
  vertical-align: Top;
  letter-spacing: 3%;
  color: var(--secondary-color);
  margin-top: 10px;
  margin-bottom: 0px;
}
.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-clients h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 0px;
  margin: 0px;
  margin-bottom: 50px;
}
.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clients ul {
  padding: 0px;
  margin: 0px;
  display: flex;
}
.clients li {
  width: 170px;
  height: 90px;
  border: 1px solid red;
}

.clients li:not(:last-child) {
  margin-right: 30px;
}

/* футер */
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .foot {
  display: block;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.foot ul {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.foot li:first-child {
  margin-bottom: 9px;
}

.footer .logoweb {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: var(--link-color);
}
.footer address {
  margin-top: 20px;
}
.footer .accent {
  font-family: "Raleway", sans-serif;
  color: var(--white-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}
.footer p {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  align: Left;
  vertical-align: Top;
  letter-spacing: 3%;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 9px;
  margin-top: 0px;
}
.footer a {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  align: left;
  vertical-align: Top;
  letter-spacing: 3%;
  color: rgba(255, 255, 255, 0.6);
}
/* портфолио */
.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio {
  display: flex;
  flex-direction: column;
}
.nav-button {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  padding-left: 0px;
}
.nav-button li:not(:last-child) {
  margin-right: 8px;
}
.nav-button li {
  display: list-item;
}
.nav-button .work-list {
  color: var(--main-color);
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0px;
  border-radius: 4px;
  padding-top: 6px;
  padding-left: 22px;
  padding-bottom: 6px;
  padding-right: 22px;
}
.work-list:hover {
  background: var(--link-color);
  color: var(--white-color);
}
.work-list:focus {
  background: var(--link-color);
  color: var(--white-color);
}
.dev {
  padding-left: 0px;
  margin-top: 50px;
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.dev-content {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  box-sizing: border-box;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.dev a {
  display: block;
}
.dev li:hover {
  width: 370px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.dev li:nth-child(-n + 6) {
  margin-bottom: 30px;
}
.dev li:not(:last-child) {
  margin-right: 30px;
}
.dev li:nth-of-type(3n + 0) {
  margin-right: 0px;
}
.card-image {
  display: block;
}
.dev h2 {
  color: var(--main-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-bottom: 0px;
}
.dev p {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-top: 4px;
  margin-bottom: 0px;
}
