:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --link-color: #2196f3;
  --white-color: #ffffff;
  --background-color: #2f303a;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* <!-- Шапка сайта --> */
/* logo */
.logoweb {
  font-family: "Raleway", sans-serif;
  font-weight: 700px;
  font-style: normal;
  font-size: 26px;
  line-height: 1.17;
  color: var(--link-color);
}
.accent {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-weight: bold;
  font-style: normal;
  font-size: 26px;
  line-height: 1.17;
}
.site-nav .link.current {
  color: var(--link-color);
}
.link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.link:hover {
  color: var(--link-color);
}
.link:focus {
  color: var(--link-color);
}

.link-tel {
  color: var(--secondary-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.section-title {
  color: var(--main-color);
}
/* <!-- Герой --> */
.hero {
  background: var(--background-color);
}

.hero-title {
  color: var(--white-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
button {
  background: #2196f3;
  color: var(--white-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
}
/* <!-- <h2>Особенности</h2> --> */
.section-features {
  background: #fff;
}

.section-features .section-title {
  font-family: Roboto, sans-serif;
  font-style: bold;
  font-size: 14px;
  line-height: 1.14;
}

.section-features .text {
  font-family: Roboto, sans-serif;
  font-style: Regular;
  font-size: 14px;
  line-height: 1.71;
  align: left;
  vertical-align: Top;
  letter-spacing: 3%;
  color: var(--secondary-color);
}
/* <!-- Чем мы занимаемся --> */
.section-work .section-title {
  font-family: Roboto, sans-serif;
  font-style: Bold;
  font-size: 36px;
  line-height: 1.17;
  align: center;
  vertical-align: Top;
  letter-spacing: 3%;
}
/* <!-- Наша команда --> */
.section-team .section-title {
  font-family: Roboto, sans-serif;
  font-style: Bold;
  font-size: 36px;
  line-height: 1.17;
  align: center;
  vertical-align: Top;
  letter-spacing: 3%;
}
.section-team .title-name {
  font-family: Roboto, sans-serif;
  font-style: Medium;
  font-size: 16px;
  line-height: 1.19;
  align: Center;
  vertical-align: Top;
  letter-spacing: 3%;
}
.section-team p {
  font-family: Roboto, sans-serif;
  font-style: Regular;
  font-size: 16px;
  line-height: 1.19;
  align: Center;
  vertical-align: Top;
  letter-spacing: 3%;
  color: var(--secondary-color);
}
/* футер */
.footer {
  background: #2f303a;
}
.footer .logoweb {
  font-family: "Raleway", sans-serif;
  font-weight: 700px;
  font-style: normal;
  font-size: 26px;
  line-height: 1.17;
  color: var(--link-color);
}
.footer .accent {
  font-family: "Raleway", sans-serif;
  color: var(--white-color);
  font-weight: bold;
  font-style: normal;
  font-size: 26px;
  line-height: 1.17;
}
.footer p {
  font-family: Roboto, sans-serif;
  font-style: Regular;
  font-size: 14px;
  line-height: 1.71;
  align: Left;
  vertical-align: Top;
  letter-spacing: 3%;
  color: rgba(255, 255, 255, 1);
}
.footer a {
  font-family: Roboto, sans-serif;
  font-style: Regular;
  font-size: 14px;
  line-height: 1.71;
  align: left;
  vertical-align: Top;
  letter-spacing: 3%;
  color: rgba(255, 255, 255, 0.6);
}
/* портфолио */
.nav-button .work-list {
  color: var(--main-color);
  background: #f5f4fa;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0px;
}
.work-list:hover {
  background: var(--link-color);
  color: var(--white-color);
}
.work-list:focus {
  background: var(--link-color);
  color: var(--white-color);
}
.dev h2 {
  color: var(--main-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.dev p {
  color: var(--secondary-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
