:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --link-color: #2196f3;
  --white-color: #ffffff;
  --background-color: #2f303a;
  --background-hero: #c4c4c4;
}
body {
  font-family: Roboto, sans-serif;
  margin: 0px;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* <!-- Шапка сайта --> */
/* logo */

.page-header {
  border-bottom: 1px solid #ececec;
}
.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
.logoweb {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: var(--link-color);
}

.accent {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}
.site-nav {
  display: flex;
  margin-left: 93px;
  justify-content: space-around;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.site-nav a {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav li:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link.current {
  color: var(--link-color);
}
.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover {
  color: var(--link-color);
}
.link:focus {
  color: var(--link-color);
}

.link-tel {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-tel:hover {
  color: var(--link-color);
}
.link-tel:focus {
  color: var(--link-color);
}

.site-contacts {
  display: flex;
  padding-left: 0px;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.site-contacts li:first-child {
  margin-right: 50px;
}
.item {
  position: relative;
}
.current::before {
  content: "";

  position: absolute;
  left: 0px;
  height: 4px;

  display: block;
  width: 100%;
  background-color: var(--link-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  bottom: -1px;
  box-sizing: border-box;
}

.site-contacts .link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-contacts .link:hover {
  color: var(--link-color);
}
.site-contacts .link:focus {
  color: var(--link-color);
}
.section-title {
  color: var(--main-color);
  margin: 0px;
}
.icon {
  fill: currentColor;
  margin-right: 10px;
}
/* <!-- Герой --> */

.hero {
  background: var(--background-hero);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.overlay {
  border: 1px solid #000000;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;
}

.hero button {
  background: #2196f3;
  color: var(--white-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  padding: 10px 32px;
  margin: 0px;
  border: 0px;
  cursor: pointer;
}
.hero button {
  min-width: 200px;
}

/* <!-- <h2>Особенности</h2> --> */
.section-features {
  background: #fff;
  padding-top: 94px;
  padding-bottom: 94px;
}
.features {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}
.features-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.features-icon .icon {
  width: 70px;
  height: 70px;
  margin: 0px;
}
.features p {
  margin-top: 10px;
  margin-bottom: 0px;
}
.features li:not(:last-child) {
  margin-right: 30px;
}

.section-features .section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-features .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  vertical-align: Top;
  letter-spacing: 3%;
  color: var(--secondary-color);
  letter-spacing: 0.03em;
}
/* <!-- Чем мы занимаемся --> */
.section-work {
  padding-bottom: 94px;
}

.section-work .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 50px;
}
.work {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-work ul {
  margin-top: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  display: flex;
  padding-left: 0px;
  margin-bottom: 0px;
}

.section-work li:not(:last-child) {
  margin-right: 30px;
}
.section-work li {
  position: relative;
}
.work p {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  position: absolute;
  width: 100%;
  margin: 0px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0px;
  left: 0px;
  padding-top: 27px;
  padding-bottom: 27px;
}

/* <!-- Наша команда --> */
.section-team {
  background: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}
.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.staff-list {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 0px;
  padding-left: 0px;
}
.team-card {
  width: 270px;
  text-align: center;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-card:not(:last-child) {
  margin-right: 30px;
}

.section-team .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  vertical-align: Top;
  letter-spacing: 3%;
}
.section-team .title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: Center;
  vertical-align: Top;
  letter-spacing: 3%;
  margin-bottom: 0px;
  margin-top: 0px;
}
.our-team {
  padding: 30px 32px;
}
.network {
  display: flex;
  margin-top: 16px;
  padding: 0px;
  justify-content: space-between;
}

.network a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.network a:hover {
  background-color: var(--link-color);
  color: #fff;
}
.network a:focus {
  background: var(--link-color);
  color: #ffffff;
}
.net-soc {
  fill: currentColor;
}
.section-team p {
  font-size: 16px;
  line-height: 1.19;
  text-align: Center;
  vertical-align: Top;
  letter-spacing: 3%;
  color: var(--secondary-color);
  margin-top: 10px;
  margin-bottom: 0px;
}
/* <!-- Постоянные клиенты --> */
.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-clients h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 0px;
  margin: 0px;
  margin-bottom: 50px;
}
.icon-clients {
  display: flex;
  align-items: center;
}
.icon-clients {
  padding: 0px;
  margin: 0px;
  display: flex;
}

.icon-clients li:not(:last-child) {
  margin-right: 30px;
}
.section-clients a {
  padding: 0px;
  margin: 0px;
}
.logo-company {
  display: block;
  width: 170px;
  height: 90px;
  border: 1px solid;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-company:hover {
  color: var(--link-color);
}
.logo-company:focus {
  color: var(--link-color);
}
.icon-company {
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
  fill: currentColor;
}

/* футер */
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer .foot {
  display: block;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.foot ul {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.foot li:first-child {
  margin-bottom: 9px;
}
.footer .logoweb {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: var(--link-color);
}
.footer address {
  margin-top: 20px;
}
.footer .accent {
  font-family: "Raleway", sans-serif;
  color: var(--white-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}
.footer p {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-align: Left;
  vertical-align: Top;
  letter-spacing: 3%;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 9px;
  margin-top: 0px;
}
.address a {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  vertical-align: Top;
  letter-spacing: 3%;
  color: rgba(255, 255, 255, 0.6);
}
.social {
  justify-content: center;
  align-items: center;
  margin-left: 70px;
}
.social b {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.social-link {
  display: flex;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
}
.social-link li:not(:last-child) {
  margin-right: 10px;
}
.soc {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc:hover,
.soc:focus {
  background-color: var(--link-color);
}
.foot-icon {
  fill: currentColor;
}

/* портфолио */
.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio {
  display: flex;
  flex-direction: column;
}
.nav-button {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  padding-left: 0px;
}
.nav-button li:not(:last-child) {
  margin-right: 8px;
}
.nav-button li {
  display: list-item;
}
.nav-button .work-list {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0px;
  border-radius: 4px;
  padding-top: 6px;
  padding-left: 22px;
  padding-bottom: 6px;
  padding-right: 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-list:hover {
  background: var(--link-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.work-list:focus {
  background: var(--link-color);
  color: var(--white-color);
}
.dev {
  padding-left: 0px;
  margin-top: 50px;
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.dev-content {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  box-sizing: border-box;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.dev a {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.dev a:hover {
  width: 370px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.dev a:focus {
  background: inherit;
}

.dev li:nth-child(-n + 6) {
  margin-bottom: 30px;
}
.dev li:not(:last-child) {
  margin-right: 30px;
}
.dev li:nth-of-type(3n + 0) {
  margin-right: 0px;
}
.dev-item {
  position: relative;
  overflow: hidden;
}
.dev-text {
  position: absolute;
  top: 0px;
  left: 0px;

  margin: 0px;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: var(--link-color);

  overflow: hidden;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.dev a:hover .dev-text,
.dev a:focus .dev-text {
  transform: translateY(0);
}
.card-image {
  display: block;
}
.dev h2 {
  color: var(--main-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-bottom: 0px;
}
.dev-content p {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-top: 4px;
  margin-bottom: 0px;
}
/* Модальное окно*/
.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 1500ms cubic-bezier(0.25, 0.1, 0.25, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal-closed {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  padding: 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;

  cursor: pointer;
  border-radius: 50%;
}
.closed {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
