.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-clients h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 0px;
  margin: 0px;
  margin-bottom: 50px;
}
.icon-clients {
  display: flex;
  align-items: center;
}
.icon-clients {
  padding: 0px;
  margin: 0px;
  display: flex;
}

.icon-clients li:not(:last-child) {
  margin-right: 30px;
}
.section-clients a {
  padding: 0px;
  margin: 0px;
}
.logo-company {
  display: block;
  width: 170px;
  height: 90px;
  border: 1px solid;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: $link-color;
  }
  &:focus {
    color: $link-color;
  }
}
// }
// .logo-company:hover {
//   color: $link-color;
// }

.icon-company {
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
  fill: currentColor;
}
