.section-features {
  background: $tertiary-color;
  padding-top: 60px;
  padding-bottom: 60px;
}
.features {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}
.features-icon {
  padding: 25px;
  margin-bottom: 30px;
  text-align: center;
  background-color: #f5f4fa;
}

.features-icon .icon {
  width: 70px;
  height: 70px;
  margin: 0px;
}
.features p {
  margin-top: 10px;
  margin-bottom: 0px;
}
.features li:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .features li:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features li:nth-child(2n + 1) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features li {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features li:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .features li {
    width: calc((100% - 3 * 30px) / 4);
  }
}
.section-features .section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.section-features .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  vertical-align: Top;
  letter-spacing: 3%;
  color: $secondary-color;
  letter-spacing: 0.03em;
}
