.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .container {
  @media screen and(min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: baseline;
  }
  @media screen and(min-width:1200px) {
    flex-wrap: nowrap;
  }
}
.footer .foot {
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  @media screen and(min-width:768px) {
    margin-right: 165px;
  }
  @media screen and(min-width:1200px) {
    margin-right: 70px;
    margin-bottom: 0px;
  }
}
.foot ul {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.foot li:first-child {
  margin-bottom: 9px;
}
.footer .logoweb {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: $link-color;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}
.footer address {
  margin-top: 20px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.footer .accent {
  font-family: $secondary-font;
  color: $tertiary-color;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}
.footer p {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-align: Left;
  vertical-align: Top;
  letter-spacing: 3%;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 9px;
  margin-top: 0px;
}
.address a {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  vertical-align: Top;
  letter-spacing: 3%;
  color: rgba(255, 255, 255, 0.6);
}
.social {
  text-align: center;
  margin-bottom: 60px;

  @media screen and(min-width:768px) {
    margin: 0px;
  }
  @media screen and(min-width:1200px) {
    margin-right: 93px;
    text-align: left;
  }
}
.social b {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $tertiary-color;
}
.social-link {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
}
.social-link li:not(:last-child) {
  margin-right: 10px;
}
.soc {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: $tertiary-color;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $link-color;
  }
}
.foot-icon {
  fill: currentColor;
}
.footer-form p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $tertiary-color;
  margin-bottom: 20px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.mail-ent {
  text-align: center;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.footer-input {
  @media screen and (min-width: 480px) {
    min-width: 450px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 0px;
      margin-right: 12px;
    }
  }

  width: 358px;
  height: 50px;
  left: 815px;
  top: 2785px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: inherit;
  color: $tertiary-color;
}
.footer-button {
  display: flex;
  text-align: center;
  width: 200px;
  height: 50px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 29px;
  background: $link-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.footer-button span {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  margin-right: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: $tertiary-color;
}
.foot-send {
  fill: $tertiary-color;
  top: 0px;
  right: 2px;
}
