.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio {
  display: flex;
  flex-direction: column;
}
.nav-button {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  padding-left: 0px;

  @media screen and(max-width:767px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
}
.nav-button li {
  // margin-right: 8px;
  @media screen and(max-width:767px) {
    &:not(:last-child) {
      margin-right: 8px;
      margin-bottom: 15px;
    }
  }
  @media screen and(max-width:767px) {
    &:nth-child(4n) {
      margin-bottom: 0px;
    }
  }
}
.nav-button li {
  display: list-item;
}
.nav-button .work-list {
  font-family: $primary-font;
  color: $primary-color;
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0px;
  border-radius: 4px;
  padding-top: 6px;
  padding-left: 22px;
  padding-bottom: 6px;
  padding-right: 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background: $link-color;
    color: $tertiary-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  &:focus {
    background: $link-color;
    color: $tertiary-color;
  }
}
