.dev {
  padding-left: 0px;
  margin-top: 40px;
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;

  @media screen and(min-width:768px) {
    margin-top: 30px;
  }
  @media screen and(min-width:1200px) {
    margin-top: 50px;
  }
}
.dev-content {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  box-sizing: border-box;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.dev-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    width: 370px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:focus {
    background: inherit;
  }

  &:hover .dev-text,
  &:focus .dev-text {
    transform: translateY(0);
  }
}
.dev li:not(:last-child) {
  margin-bottom: 30px;

  @media screen and (max-width: 1199px) and (min-width: 768px) {
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }
  @media screen and (max-width: 1199px) and (min-width: 768px) {
    & {
      width: 354px;
    }
  }
  @media screen and(min-width:1200px) {
    & {
      width: 370px;
    }
  }
  @media screen and(min-width: 1200px) {
    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}
.dev-item {
  position: relative;
  overflow: hidden;
}
.dev-text {
  position: absolute;
  top: 0px;
  left: 0px;

  margin: 0px;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $tertiary-color;
  background-color: $link-color;

  overflow: hidden;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-image {
  display: block;
  @media screen and (min-width: 1200px) {
    width: 370px;
  }
}
.dev h2 {
  color: $primary-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-bottom: 0px;
}
.dev-content p {
  color: $secondary-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-top: 4px;
  margin-bottom: 0px;
}
