.section-team {
  background: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}
.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.staff-list {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 0px;
  padding-left: 0px;
}
.team-card {
  width: 270px;
  text-align: center;
  background: var(--tertiary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-card:not(:last-child) {
  margin-right: 30px;
}

.section-team .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  vertical-align: Top;
  letter-spacing: 3%;
}
.section-team .title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: Center;
  vertical-align: Top;
  letter-spacing: 3%;
  margin-bottom: 0px;
  margin-top: 0px;
}
.our-team {
  padding: 30px 32px;
}
.network {
  display: flex;
  margin-top: 16px;
  padding: 0px;
  justify-content: space-between;
}

.network a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.network a:hover {
  background-color: var(--link-color);
  color: var(--tertiary-color);
}
.network a:focus {
  background: var(--link-color);
  color: var(--tertiary-color);
}
.net-soc {
  fill: currentColor;
}
.section-team p {
  font-size: 16px;
  line-height: 1.19;
  text-align: Center;
  vertical-align: Top;
  letter-spacing: 3%;
  color: var(--secondary-color);
  margin-top: 10px;
  margin-bottom: 0px;
}
