// Mobile
.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    min-width: 480px;
  }
}
body {
  font-family: $primary-font;
  margin: 0px;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
// Tablet
@media screen and (min-width: 768px) {
  .container {
    // width: 768px;
    margin-right: 0;
    margin-left: 0px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
  }
}

// desktop//
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

// body {
//   font-family: $primary-font;
//   margin: 0px;
// }
// a {
//   text-decoration: none;
// }
// li {
//   list-style: none;
// }
// img {
//   display: block;
//   max-width: 100%;
//   height: auto;
// }
// .container {
//   width: 1200px;
//   margin: 0 auto;
//   padding-left: 15px;
//   padding-right: 15px;
// }
