$primary-color: #212121;
$secondary-color: #757575;
$link-color: #2196f3;
$tertiary-color: #ffffff;
$background-color: #2f303a;
$background-hero: #c4c4c4;
$primary-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
